In [1]:
import os
import sys
from emot.emo_unicode import UNICODE_EMO, EMOTICONS
import re
# Import pandas to read the file 
import pandas as pd
import numpy as np

# Load data

In [2]:
file_name = "RLFall2019.csv"

In [3]:
rl_fall_2018 = pd.read_csv(file_name, parse_dates=["created_ch", "bucket_name_ch"]);rl_fall_2018.head(3)

,Unnamed: 0,anon_ch,subject_ch,created_ch,bucket_order_ch,bucket_name_ch,type_ch,uid_a_ch,uid_ch,id_ch,updated_ch,config_ch,assignment
0,0,no,"<p>My name is Todd Neal, I&#39;m from Kentucky...",2019-08-19 23:08:17+00:00,34,Week 8/18 - 8/24,followup,NaN,jzhl7qlwrpagr,jzj0fvskoah19g,2019-08-19T23:08:17Z,{},logistics
1,1,no,<p>Welcome to the class and the program!</p>,2019-08-19 23:14:04+00:00,34,Week 8/18 - 8/24,feedback,NaN,hyx9thiqa6j4nn,jzj0nbi02e74fv,2019-08-19T23:14:04Z,{},logistics
2,2,no,<p>Welcome Todd! You will find there are a lo...,2019-08-20 11:05:43+00:00,34,Week 8/18 - 8/24,feedback,NaN,idfzuuu9fnI,jzjq2i4e8de2fh,2019-08-20T11:05:43Z,{},logistics

In [4]:
rl_fall_2018.config_ch.unique()

array(['{}'], dtype=object)

# Clean the data

## remove unwanted columns

In [5]:
def remove_unwanted_columns(df):
    """
    Remove unncessary columns
    
    ARgs:
        df: take dataframe as imput
    Return dataframe
    """
    
    return df.drop(columns=["Unnamed: 0", "config_ch"], axis=1)

In [6]:
rl_fall2018_unwanted_remove = remove_unwanted_columns(rl_fall_2018)

In [7]:
rl_fall2018_unwanted_remove["weeks"] = rl_fall2018_unwanted_remove['created_ch'].dt.week

In [8]:
# def convert_emoticons(text):
#     for emot in EMOTICONS:
#         text = re.sub(u'('+emot+')', "_".join(EMOTICONS[emot].replace(",","").split()), text)
#     return text

In [9]:
# rl_fall2018_unwanted_remove.subject_ch = rl_fall2018_unwanted_remove.subject_ch.map(lambda x: convert_emoticons(str(x)))

In [10]:
def replace_week_numbers(df):
    """
    functiion that change week number from 1 to 19
    """
    
    return sorted(df.weeks.unique())

In [11]:
rl_fall2018_unwanted_remove["weeks_num"] = rl_fall2018_unwanted_remove["weeks"].map(lambda x: replace_week_numbers(rl_fall2018_unwanted_remove).index(x)+1 if(x in replace_week_numbers(rl_fall2018_unwanted_remove)) else np.nan)

In [12]:
def remove_special_caracters(df):
    chars_spec = ["!", "<p>", "#", "&", "</p>", "<div>",
                 "\n", "<blockquote>"]
    
    return  df.replace(to_replace = chars_spec, value = "", regex = True)

In [13]:
rl_fall2018_unwanted_remove = remove_special_caracters(rl_fall2018_unwanted_remove)

In [17]:
rl_fall2018_unwanted_remove[rl_fall2018_unwanted_remove.assignment == "project1"].assignment.value_counts()

project1    645
Name: assignment, dtype: int64

In [16]:
rl_fall2018_unwanted_remove.sample(2)

,anon_ch,subject_ch,created_ch,bucket_order_ch,bucket_name_ch,type_ch,uid_a_ch,uid_ch,id_ch,updated_ch,assignment,weeks,weeks_num
1967,no,"As a side note, if you don39;t want to clone t...",2019-09-29 19:06:07+00:00,39,Week 9/29 - 10/5,followup,NaN,ixty1midfufhd,k15cudpcdco15o,2019-09-29T19:06:07Z,hw4,39,6
2771,no,"Correct, I39;m still terminating at 200, but I...",2019-10-13 23:34:52+00:00,30,Week 10/13 - 10/19,feedback,NaN,jl284xdcifz44g,k1pmlx1g3szjm,2019-10-13T23:34:52Z,project2,41,8